@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: arial;
  src: url('/assets/font/arial.ttf') format('truetype');
}

* {
  @apply font-arial;
}

.outline-red {
  color: transparent;
  -webkit-text-stroke: 2px #ef4444;
  text-stroke: 2px #ef4444; 
}
